{% extends "base2.html" %}

{% block title %} {% trans %}Aviso legal y política de cookies{% endtrans %} {% endblock %}
{% block content %}



<h1>{% trans %}Aviso legal y política de cookies{% endtrans %}</h1>

{#  Comentado !!!!!#}

{#
<h2>{% trans %}Aviso legal{% endtrans %}</h2>

<h4>Sobre la Propiedad Legal e intelectual</h4>#}
{#  fin Comentado !!!!!#}


{{presentationData.legalAdvice[lang]|raw}}

<br />
{% trans %}Texto aviso uso de cookies con etiquetas html{% endtrans %}

{% endblock %}